body {
}

#header 
{
    
}

#left
{
    width:30%;
    /*width:293px;*/
    float:left;
}

#main
{
    background-color:White;
    width:70%;
    /*width:839px;    */
    float:left;
    display:block;
    font-family: Arial;
}

#right
{
    /*border: thin solid #C0C0C0;*/
    /*width: auto;*/
    width: 200px;    
    float: left;
    display: block;
    font-family: Arial;
}

#footer
{
    /*background-color: #63320A;*/
    background-color: #FFFFFF;
    width: 100%;
    float: left;
    display: block;
    font-family: Arial;
    line-height: 23px;    
}

.aiiskueChart 
{
    width:100%;
}

.viewMode
{
    /*display:block;     */
    /*float: left;*/
    /*margin-left: 15px;*/
}

.buttonLabel
{
    display:block;
    float:inherit;    
}

.textBox
{ 
    position: relative;
    float:left;
    left: 15px;
}

.imageButtons
{ 
    float: left;
    position: relative;
    top: 2px;
    left: 18px;
}

.mainStyle
{
    display: block;
    font-size: 12px;
    margin-top:4px;
}

.rightAligment
{
    float:right;
}

.slideShow
{
    /*display: block;
    text-align: center;
    float: right;*/
}

.footerStyle
{
    background-color: #63320A; 
    color: #FFFFFF; 
    line-height: 23px; 
    text-indent: 5px; text-align: left; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small; 
    font-weight: normal;
    width:1332px;
    /*width:100%;    */
}